<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Babbage </title>
</head>
<body>
    <h1>babbage holiiiiiiiiiiiii</h1>
    <h2>¿Quien fué?</h2>
    <p>Charles Babbage fue un matemático y científico de la computación británico.​ Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias.</p>
    <h2>¿Qué aporto?</h2>
    <p>Hoy se considera que la máquina analítica de Babbage fue la primera computadora del mundo. Un diseño inicial plenamente funcional de ella fue terminado en 1835. Sin embargo, debido a problemas similares a los de la máquina diferencial, la máquina analítica nunca fue terminada.
    </p>
    <img src="img/babbage.jpg" alt="">
</body>
</html>