<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Berners-lee</title>
</head>
<body>
    <h1>berners-lee</h1>
    <h2>¿Quien fué?</h2>
    <p>Timothy "Tim" John Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la World Wide Web "WWW". Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990</p>
    <h2>¿Qué aporto?</h2>
    <p>12 de noviembre de 1990: Tim Berners-Lee propone crear la World Wide Web. El británico Tim Berners-Lee desarrolló la World Wide Web para mejorar la comunicación entre los científicos del CERN, en Suiza, creando un servidor y un buscador que permitían acceder y compartir información desde ordenadores distintos.
    </p>
    <img src="img/berners-lee.jpg" alt="">
</body>
</html>
