<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Clarke</title>
</head>
<body>
    <h1>clarke</h1>
    <h2>¿Quien fué?</h2>
    <p>Para casi todo el mundo, Clarke era un autor de ciencia ficción. Escribió más de 80 libros y 500 artículos y relatos breves, de los cuales el más conocido es “2001: Una odisea espacial” (1968)</p>
    <h2>¿Qué aporto?</h2>
    <p>12 de noviembre de 1990: Tim Berners-Lee propone crear la World Wide Web. El británico Tim Berners-Lee desarrolló la World Wide Web para mejorar la comunicación entre los científicos del CERN, en Suiza, creando un servidor y un buscador que permitían acceder y compartir información desde ordenadores distintos.
    </p>
    <img src="img/berners-lee.jpg" alt="">
</body>
</html>