<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hamilton</h1>
    <h2>gnsdgdigdjfg</h2>
    <p>Retratamos a Margaret Hamilton, una de las primeras programadoras de la historia y la científica que posibilitó que los tripulantes del Apolo 11 pisaran la Luna.</p>
    <img src="img/Margaret_Hamilton.jpg" alt="">
</body>
</html>